<html>

<head>
    <title>Working...</title>
</head>

<body>
    <form method="post" name="hiddenform" action="<%= callback %>">
        <input type="hidden" name="<%= type %>" value="<%= token %>">
        <input type="hidden" name="RelayState" value="<%= RelayState %>">
        <noscript>
            <p>
                Script is disabled. Click Submit to continue.
            </p>
            <input type="submit" value="Submit">
        </noscript>
    </form>
    
    <script
    src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

    <script language="javascript" type="text/javascript">
        var form = document.forms[0];
        var asyncAssertions = <%- JSON.stringify(asyncAssertions) %>;

        asyncAssertions.forEach(function (assertion, i) {
            return $.ajax({
                type: 'POST',
                url: assertion.acsUrl,
                data: $(form).serialize(),
                crossDomain: true,
                xhrFields: {
                    withCredentials: true
                }
            })
        });

        var timeoutPeriod = 400 * asyncAssertions.length;
        window.setTimeout(function () { form.submit(); }, timeoutPeriod);
    </script>
</body>

</html>